@use "../abstracts/variables" as vars;
@use "../abstracts/mixins";
@use "../base/typography" as type;

// cert-list
.cert-list {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: max-content;
  gap: 1rem;

  // tablet
  @include mixins.breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  // xlarge-tablet
  @include mixins.breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

// cert-card
.cert-card {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 1rem;
  box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.05);

  // cert-card__icon-wrapper
  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  // cert-card__icon
  &__icon {
    font-size: 4.5rem;
    color: vars.$tertiary-500;
  }

  // cert-card__content
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
  }

  // cert-card__name
  &__name {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: rgba(0, 0, 0, 0.81);
  }

  // cert-card__issuer
  &__issuer {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: auto;
  }

  // cert-card__btn
  &__btn {
    margin-top: 0.5rem;
  }
}
