@use "../abstracts/variables" as vars;

// date-picker
.date-picker {
  display: flex;
  flex-direction: column;
  gap: vars.$space-2;
  position: relative;
}

// date-picker__label
.date-picker__label.label {
}

// date-picker__input-wrapper
.date-picker__input-wrapper {
  position: relative;
}

// date-picker__input
.date-picker__input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  background-color: transparent;
  color: vars.$primary-100;
  border: vars.$border-sm solid vars.$primary-100;
  border-radius: vars.$radius-xs;
  outline: none;

  &::placeholder {
    color: rgba(vars.$primary-50, 0.5);
  }

  &:hover {
    border-color: vars.$primary-200;
  }

  &:focus {
    border-color: vars.$primary-500;
  }
}

// date-picker__icon
.date-picker__icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: vars.$primary-100;
}

// date-picker__modal
.date-picker__modal {
  display: flex;
  flex-direction: column;
  gap: vars.$space-3;
  padding: vars.$space-3 0;
  background-color: vars.$primary-950;
  border: vars.$border-sm solid vars.$primary-300;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;

  // date-picker__modal.hidden
  &.hidden {
    display: none;
  }
}

// date-picker__header
.date-picker__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 vars.$space-3;
}

// date-picker__btn
.date-picker__btn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: vars.$border-sm solid transparent;
  border-radius: vars.$radius-pill;
  color: vars.$primary-100;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: vars.$primary-800;
  }
}

// date-picker__year-month
.date-picker__year-month {
  display: flex;
  gap: vars.$space-3;
}

// date-picker__year
// date-picker__month
.date-picker__year,
.date-picker__month {
  font-family: vars.$font-sans;
  font-size: vars.$font-size-1;
  font-weight: vars.$font-weight-7;
  color: vars.$white;
}

// date-picker__week
.date-picker__week {
  background-color: vars.$primary-900;
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-auto-rows: 40px;
  gap: vars.$space-2;
  padding: 0 vars.$space-3;
}

// date-picker__week-day
.date-picker__week-day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: vars.$font-sans;
  font-size: vars.$font-size-1;
  font-weight: vars.$font-weight-7;
  color: vars.$white;
}

// date-picker__days
.date-picker__days {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-auto-rows: 40px;
  gap: vars.$space-2;
  padding: 0 vars.$space-3;
}

// date-picker__day
.date-picker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: vars.$font-size-0;
  font-weight: vars.$font-weight-6;
  color: vars.$white;
  background-color: transparent;
  border: vars.$border-sm solid transparent;
  border-radius: vars.$radius-pill;
  cursor: pointer;

  &:hover {
    background-color: vars.$primary-100;
    border-color: vars.$primary-100;
    color: vars.$primary-950;
  }

  &[data-day-value=""] {
    visibility: hidden;
  }

  // date-picker__day[data-day-type="today"]
  &[data-day-type="today"] {
    border-color: vars.$primary-500;
  }

  // date-picker__day[data-day-type="selectedDay"]
  &[data-day-type="selectedDay"] {
    background-color: vars.$primary-100;
    border-color: vars.$primary-100;
    color: vars.$primary-950;
  }
}
