@use "../abstracts/variables" as vars;
@use "../abstracts/mixins";
@use "../abstracts/decors";

.education {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  border-radius: 0.25rem;
  gap: 1rem;
  box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.25);

  background-color: vars.$tertiary-900;

  // @include mixins.applyDecors(decors.$edu-decors);

  // education__title
  &__title {
    margin: 0;
    color: vars.$secondary-500;
    font-size: 1.25rem;
    font-weight: 600;
  }

  // education__years
  &__years {
    color: vars.$primary-400;
    font-weight: 700;
    font-size: 14px;
  }

  // education__univ
  &__univ {
    color: vars.$white;
    font-size: 1rem;
    font-weight: 600;
  }
}
