@use "../abstracts/variables" as vars;

// footer
.footer {
  background-color: vars.$gray;
}

// footer__logo

// footer__location

// footer__tel

// footer__links
.footer__links a {
  color: vars.$white;
}

// footer__notice
.footer__notice {
  background-color: vars.$white;
  padding: vars.$space-2;
  text-align: center;
  p {
    color: vars.$neurtral-500;
  }
}
