@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
// project-list
.project-list {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;

  // tablet
  @include mixins.breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  // xlarge-tablet
  @include mixins.breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

// project-card
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: vars.$space-5;
  background-color: vars.$white;
  border-radius: 0.25rem;
  overflow: hidden;

  // box-shadow
  @include mixins.surface-shadow;
  position: relative;

  // project-card__thumbnail
  &__thumbnail {
    aspect-ratio: vars.$aspect-landscape;
    object-fit: cover;
    width: 100%;
  }

  // project-card__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vars.$space-3;
    padding: vars.$space-2 0 vars.$space-5;
  }

  // project-card__title
  &__title {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.81);
  }

  // project-card__desc
  &__desc {
    color: rgba(0, 0, 0, 0.6);
  }

  // project-card__btn
  &__btn {
  }

  // project-card__tag
  &__tag {
    color: vars.$black;
    background-color: vars.$secondary-500;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
}
