@use "../abstracts/variables" as vars;

// review-card
.review-card {
  border: vars.$border-sm solid vars.$primary-500;
  border-radius: vars.$radius-sm;
  // width: 500px;
  // height: 400px;
  display: inline-flex;
  flex-direction: column;
  gap: vars.$space-5;
  padding: vars.$space-3;
  white-space: normal;
  max-width: 500px;
}

// review-card__stars

// review-card__body

// review-card__author
.review-card__author {
  margin-top: auto;
}
