@use "../abstracts/variables" as vars;

// social
.social {
  display: flex;
  gap: vars.$space-2;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: vars.$radius-pill;
  background-color: vars.$white;
  position: relative;
  text-decoration: none;
  color: vars.$black;
  transition: background-color 0.3s;
  will-change: background-color;

  &:hover {
    background-color: vars.$neutral-400;
  }
}
