@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// skill-card
.skill-card {
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: vars.$space-2;
  border: vars.$border-sm solid vars.$white;
  color: vars.$white;
  background-color: transparent;
}
