---
const { customClasses } = Astro.props;
---

<article class:list={["experience", customClasses]}>
  <h4 class="experience__job">Freelance Web Developer</h4>
  <h5 class="experience__years">SEPTEMBER 2015 - PRESENT</h5>
  <ul class="experience__list">
    <li class="experience__item">Design the front end of the website.</li>
    <li class="experience__item">Develop search friendly web pages</li>
    <li class="experience__item">Maintain and improve clients codebase.</li>
    <li class="experience__item">Built online web solutions for individuals</li>
    <li class="experience__item">
      Develop HTML/CSS templates for landing pages
    </li>
    <li class="experience__item">Perform browsers testing and catch bugs</li>
    <li class="experience__item">
      Create websites that engage customers in order to enhance my clients’
      online present
    </li>
  </ul>
</article>
