// Decor elements----------------------
// Triangle-Blue
$Triangle-Blue-Url: "/images/Triangle-Blue.svg";

// Triangle-Pink
$Triangle-Pink-Url: "/images/Triangle-Pink.svg";

// Triangle-Yellow
$Triangle-Yellow-Url: "/images/Triangle-Yellow.svg";

// Rectangle-Blue
$Rectangle-Blue-Url: "/images/Rectangle-Blue.svg";

// Rectangle-Pink
$Rectangle-Pink-Url: "/images/Rectangle-Pink.svg";

// Rectangle-Yellow
$Rectangle-Yellow-Url: "/images/Rectangle-Yellow.svg";

// Dots-Blue-H
$Dots-Blue-H-Url: "/images/Dots-Blue-H.svg";

// Dots-Yellow-H
$Dots-Yellow-H-Url: "/images/Dots-Yellow-H.svg";

// Dots-Pink-H
$Dots-Pink-H-Url: "/images/Dots-Pink-H.svg";

// Dots-Pink-V
$Dots-Pink-V-Url: "/images/Dots-Pink-V.svg";

// Dots-Blue-Mini-H
$Dots-Blue-Mini-H-Url: "/images/Dots-Blue-Mini-H.svg";

// Dots-Yellow-Mini-H
$Dots-Yellow-Mini-H-Url: "/images/Dots-Yellow-Mini-H.svg";

// Dots-Pink-Mini-H
$Dots-Pink-Mini-H-Url: "/images/Dots-Pink-Mini-H.svg";

// Circle-Blue
$Circle-Blue-Url: "/images/Circle-Blue.svg";

// Circle-Pink
$Circle-Pink-Url: "/images/Circle-Pink.svg";

// Circle-Yellow
$Circle-Yellow-Url: "/images/Circle-Yellow.svg";

// Circle-Blue-Mini
$Circle-Blue-Mini-Url: "/images/Circle-Blue-Mini.svg";

// Circle-Pink-Mini
$Circle-Pink-Mini-Url: "/images/Circle-Pink-Mini.svg";

// Circle-Yellow-Mini
$Circle-Yellow-Mini-Url: "/images/Circle-Yellow-Mini.svg";

// 01
$edu-decor-1: (
  "url": url($Rectangle-Pink-Url),
  "repeat": no-repeat,
  "position": 97% 32px,
  "size": 56px 56px,
);

// 02
$edu-decor-2: (
  "url": url($Rectangle-Yellow-Url),
  "repeat": no-repeat,
  "position": 95% 5px,
  "size": 56px 56px,
);

// 03
$edu-decor-3: (
  "url": url($Circle-Pink-Url),
  "repeat": no-repeat,
  "position": 102% 105%,
  "size": 56px 56px,
);

// 04
$edu-decor-4: (
  "url": url($Dots-Yellow-Mini-H-Url),
  "repeat": no-repeat,
  "position": 80% 92%,
  "size": 116px 17px,
);

// 01
$exp-decor-1: (
  "url": url($Triangle-Yellow-Url),
  "repeat": no-repeat,
  "position": 87% 12%,
  "size": 72px 72px,
);

// 02
$exp-decor-2: (
  "url": url($Circle-Pink-Url),
  "repeat": no-repeat,
  "position": 98% 5%,
  "size": 96px 96px,
);

// 03
$exp-decor-3: (
  "url": url($Dots-Pink-V-Url),
  "repeat": no-repeat,
  "position": 97% 50%,
  "size": 26px 109px,
);

// 04
$exp-decor-4: (
  "url": url($Rectangle-Pink-Url),
  "repeat": no-repeat,
  "position": 94% 95%,
  "size": 56px 56px,
);

// 05
$exp-decor-5: (
  "url": url($Rectangle-Yellow-Url),
  "repeat": no-repeat,
  "position": 97% 88%,
  "size": 56px 56px,
);

// 06
$exp-decor-6: (
  "url": url($Dots-Yellow-Mini-H-Url),
  "repeat": no-repeat,
  "position": 78% 98%,
  "size": 116px 17px,
);

$edu-decors: $edu-decor-1, $edu-decor-2, $edu-decor-3, $edu-decor-4;
$exp-decors: $exp-decor-1, $exp-decor-2, $exp-decor-3, $exp-decor-4,
  $exp-decor-5, $exp-decor-6;
