@use "sass:list";

//----- < Base: Settings > ------------------------
$prefix: lt-;
$theme-mode: data; // data or media-query
$grid-columns: 12;

//----- < Colors > ------------------------

// primary
$primary-50: #fef1f6;
$primary-100: #fee5ef;
$primary-200: #ffcae1;
$primary-300: #ff9fc6;
$primary-400: #ff639f;
$primary-500: #ff4081; // base ⭐
$primary-600: #f01253;
$primary-700: #d1053b;
$primary-800: #ad0731;
$primary-900: #8f0c2d;
$primary-950: #580014;

// secondary
$secondary-50: #feffe7;
$secondary-100: #faffc1;
$secondary-200: #f9ff86;
$secondary-300: #feff41;
$secondary-400: #fff40d;
$secondary-500: #ffe600; // base ⭐
$secondary-600: #d1aa00;
$secondary-700: #a67b02;
$secondary-800: #895f0a;
$secondary-900: #744e0f;
$secondary-950: #442904;

// tertiary
$tertiary-50: #ebf8ff;
$tertiary-100: #d1f0ff;
$tertiary-200: #aee6ff;
$tertiary-300: #76d9ff;
$tertiary-400: #35c1ff;
$tertiary-500: #079dff; // base ⭐
$tertiary-600: #0077ff;
$tertiary-700: #005eff;
$tertiary-800: #004dd7;
$tertiary-900: #003c8f;
$tertiary-950: #062b65;

// neutral
$neutral-50: #f9fafb;
$neutral-100: #f3f4f6;
$neutral-200: #e5e7eb;
$neutral-300: #d1d5db;
$neutral-400: #9ca3af;
$neutral-500: #6b7280;
$neutral-600: #4b5563;
$neutral-700: #374151;
$neutral-800: #1f2937;
$neutral-900: #111827;
$neutral-950: #030712;
$white: #ffffff;
$black: #000000;
$bg: #f9f9f9;

// user
$yellow: #f8c715;
$gray: #222222;

// text
$high-text-color: rgba(0, 0, 0, 87%);
$medium-text-color: rgba(0, 0, 0, 70%);
$muted-text-color: rgba(0, 0, 0, 60%);

//----- < Spacing > ------------------------

// Spacing
$space-0: 0; // 0
$space-1: 0.25rem; // 4px
$space-2: 0.5rem; // 8px
$space-3: 1rem; // 16px
$space-4: 1.25rem; // 20px
$space-5: 1.5rem; // 24px
$space-6: 2rem; // 32px
$space-7: 2.25rem; // 36px
$space-8: 2.5rem; // 40px
$space-9: 3rem; // 48px
$space-10: 3.5rem; // 56px
$space-11: 4.5rem; // 72px
$space-12: 5.5rem; // 88px
$space-13: 6rem; // 96px
$space-14: 8rem; // 128px

// Border width
$border-sm: 1px;
$border: 2px;
$border-lg: 4px;
$border-xl: 6px;

// Border radius
$radius-xs: 0.125rem; //-----| 2px
$radius-sm: 0.25rem; //------| 4px
$radius: 0.375rem; //--------| 6px
$radius-lg: 0.5rem; //-------| 8px
$radius-xl: 1rem; //---------| 16px
$radius-2xl: 2rem; //--------| 32px
$radius-pill: 50rem; //------| 800px

// Aspect ration
$aspect-square: 1;
$aspect-landscape: list.slash(4, 3);
$aspect-portrait: list.slash(3, 4);
$aspect-widescreen: list.slash(16, 9);
$aspect-ultrawide: list.slash(18, 5);
$aspect-golden: list.slash(1.618, 1);

// breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// breakpoints
$breakpoints-old: (
  tablet: 600px,
  large-tablet: 720px,
  xlarge-tablet: 840px,
  small-desktop: 960px,
  desktop: 1024px,
  large-desktop: 1280px,
);

//----- < Typography > ------------------------

// font-family
$font-sans:
  "Poppins",
  system-ui,
  -apple-system,
  Segoe UI,
  Roboto,
  Ubuntu,
  Cantarell,
  Noto Sans,
  sans-serif;
$font-serif: "Philosopher", ui-serif, serif;
$font-mono:
  Dank Mono,
  Operator Mono,
  Inconsolata,
  Fira Mono,
  ui-monospace,
  SF Mono,
  Monaco,
  Droid Sans Mono,
  Source Code Pro,
  monospace;

// font-size
$font-size-00: 0.75rem; // 12px
$font-size-0: 0.875rem; // 14px
$font-size-1: 1rem; // 16px
$font-size-2: 1.125rem; // 18px
$font-size-3: 1.25rem; // 20px
$font-size-4: 1.5rem; // 24px
$font-size-5: 2rem; // 32px
$font-size-6: 2.5rem; // 40px
$font-size-7: 3rem; // 48px
$font-size-8: 3.5rem; // 56px
$font-size-9: 4.5rem; // 72px
$font-size-10: 5.5rem; // 88px

//----- < Shadows > ------------------------
$shadow-color: 220 3% 15%;
$shadow-strength: 1%;
$shadow-1: 0 1px 2px -1px hsl(var($shadow-color) /
      calc(var($shadow-strength) + 9%));
$shadow-2:
  0 3px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 7px 14px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%));
$shadow-3:
  0 -1px 3px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 1px 2px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 2px 5px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 4px 12px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 12px 15px -5px hsl(var($shadow-color) / calc(var($shadow-strength) + 7%));
$shadow-4:
  0 -2px 5px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 1px 1px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 2px 2px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 5px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 9px 9px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 16px 16px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 6%));
$shadow-5:
  0 -1px 2px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 2px 1px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 5px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 10px 10px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 20px 20px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 40px 40px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 7%));
$shadow-6:
  0 -1px 2px 0 hsl(var($shadow-color) / calc(var($shadow-strength) + 2%)),
  0 3px 2px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 7px 5px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 3%)),
  0 12px 10px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 4%)),
  0 22px 18px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 5%)),
  0 41px 33px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 6%)),
  0 100px 80px -2px hsl(var($shadow-color) / calc(var($shadow-strength) + 7%));
$inner-shadow-0: inset 0 0 0 1px
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-1: inset 0 1px 2px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-2: inset 0 1px 4px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-3: inset 0 2px 8px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));
$inner-shadow-4: inset 0 2px 14px 0
  hsl(var($shadow-color) / calc(var($shadow-strength) + 9%));

//----- < Positions > ------------------------
$z-indexes: (
  "none": 0,
  "appbar": 12,
  "carousel": 10,
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
);
