@use "../abstracts/mixins" as mixins;

// about-page
.about-page {
}

// about-page__hero
.about-page__hero {
  background-image: url("../images/image3.jpg");
}

// about-page__story
.about-page__story {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Steak.svg"), url("../images/Apple.svg");
    background-repeat: no-repeat;
    background-size: 218px 160px;
    background-position: 2% 22%, 96% 22%;
    background-origin: border-box;
  }
}

// about-page__mission
.about-page__mission {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Bread2.svg"), url("../images/Hot-Dish.svg");
    background-repeat: no-repeat;
    background-size: 218px 200px;
    background-position: 2% 22%, 96% 22%;
    background-origin: border-box;
  }
}

// about-page__team
.about-page__team {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Wind.svg"), url("../images/Wind-Mini.svg");
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: 2% 0%, 98% 0%;
    background-origin: border-box;
  }
}
