@use "../abstracts/mixins" as mixins;

// careers-page
.careers-page {
}

// careers-page__hero
.careers-page__hero {
  background-image: url("../images/image14.jpg");
}

// careers-page__intro
.careers-page__intro {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Chef-Hat.svg"), url("../images/Orange.svg");
    background-repeat: no-repeat;
    background-size:
      218px 160px,
      218px 120px;
    background-position:
      2% 22%,
      96% 22%;
    background-origin: border-box;
  }
}

// careers-page__apply
.careers-page__apply {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Cup.svg"), url("../images/Fork.svg"),
      url("../images/Wind.svg"), url("../images/Wind-Mini.svg");
    background-repeat: no-repeat;
    background-size:
      200px 140px,
      200px 140px,
      285px 200px,
      285px 200px;
    background-position:
      4% 8%,
      94% 8%,
      2% 55%,
      96% 55%;
    background-origin: border-box;
  }
}
