@use "../abstracts/mixins" as mixins;

// contact-page__hero
.contact-page__hero {
  background-image: url("../images/image25.jpg");
}

// contact-page__form
.contact-page__form {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Bread2.svg"), url("../images/Meat.svg");
    background-repeat: no-repeat;
    background-size: 218px 200px;
    background-position:
      2% 10%,
      96% 10%;
    background-origin: border-box;
  }
}
