@use "../abstracts/mixins" as mixins;

// event-page
.event-page {
}

// event-page__hero
.event-page__hero {
  background-image: url("../images/image29.jpg");
}

// event-page__space
.event-page__space {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Wind.svg"), url("../images/Wind-Mini.svg");
    background-repeat: no-repeat;
    background-size:
      280px 250px,
      280px 250px;
    background-position:
      2% 2%,
      96% 2%;

    background-origin: border-box;
  }
}

// event-page__space-img
.event-page__space-img {
  max-width: 500px;
}

// event-page__book
.event-page__book {
  @include mixins.breakpoint(xl) {
    background-image: url("../images/Apple.svg"), url("../images/Hot-Dish.svg"),
      url("../images/Wave-Left.svg"), url("../images/Wave-Left.svg");
    background-repeat: no-repeat;
    background-size:
      218px 160px,
      218px 200px,
      250px 250px,
      250px 250px;
    background-position:
      2% 12%,
      96% 10%,
      2% 80%,
      96% 80%;
    background-origin: border-box;
  }
}
