@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
@use "../abstracts/decors";

// home-page
.home-page {
}

// home-page__about
.home-page__about {
  @include mixins.breakpoint(xl) {
    background-image: url("/images/Dots-Blue-V.svg");
    background-repeat: no-repeat;
    background-size: 26px 109px;
    background-position: 2% 15%;
    background-origin: border-box;
  }
}

// home-page__skills
.home-page__skills {
  @include mixins.breakpoint(xl) {
    background-image: url("/images/Dots-Pink-V.svg");
    background-repeat: no-repeat;
    background-size: 26px 109px;
    background-position: 98% 52%;
    background-origin: border-box;
  }
}

// home-page__education
$edu-decor-1: "url";

.home-page__education {
  @include mixins.breakpoint(xl) {
    @include mixins.applyDecors(decors.$edu-decors);
  }
}

// home-page__experience
.home-page__experience {
  @include mixins.breakpoint(xl) {
    @include mixins.applyDecors(decors.$exp-decors);
  }
}

// home-page__certs
.home-page__certs {
  @include mixins.breakpoint(xl) {
    background-image: url("/images/Dots-Pink-V.svg");
    background-repeat: no-repeat;
    background-size: 26px 109px;
    background-position: 98% 52%;
    background-origin: border-box;
  }
}

// home-page__projects
.home-page__projects {
  @include mixins.breakpoint(xl) {
    background-image: url("/images/Dots-Blue-V.svg");
    background-repeat: no-repeat;
    background-size: 26px 109px;
    background-position: 2% 52%;
    background-origin: border-box;
  }
}

.home-page__project-btn {
  margin-top: vars.$space-5;
  display: flex;
  justify-content: flex-end;
}
