@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// project-page
.project-page {
}

// project-page__title
.project-page__title {
  margin-bottom: vars.$space-6;
  text-align: center;
}

// project-page__projects
.project-page__projects {
  @include mixins.breakpoint(xl) {
    background-image: url("/images/Dots-Blue-V.svg"),
      url("/images/Dots-Pink-V.svg");
    background-repeat: no-repeat, no-repeat;
    background-size:
      26px 109px,
      26px 109px;
    background-position:
      2% 5%,
      98% 85%;
    background-origin: border-box;
  }
}
