@use "./variables" as vars;
@use "./mixins" as mixins;

/* 
@use "./components/header";
@use "./components/footer";
@use "./components/hero";
@use "./components/social";
@use "./components/link-list";
@use "./components/button";
@use "./components/skill-card";
@use "./components/education";
@use "./components/experience";
@use "./components/cert-card";
@use "./components/project-card";
*/

// header
.header {
  display: flex;
  padding: 1.5rem 1rem;

  @include mixins.breakpoint(sm) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  // header__content
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  // nav__link
  &__link {
    // transition
    font-family: vars.$font-sans;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
      color: vars.$color-christi-600;
    }
  }
}

// footer
.footer {
  border-top: 1rem solid vars.$color-christi-600;

  // footer__inner
  &__inner {
    border-bottom: 1rem solid vars.$color-christi-600;
  }

  // footer__content
}
