---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Haroun Achouche Portfolio";
const metaDescription =
  "Haroun Achouche portfolio, skills, eductaion, experience, certification, Haroun Ach Portfolio";
const metaKeyWords = "Haroun Achouche,Haroun Ach, Haroun Ach Portfolio";
---

<BaseLayout
  pageTitle={pageTitle}
  mainClass="page__main"
  metaDescription={metaDescription}
  metaKeyWords={metaKeyWords}
>
  <section class="py-12">
    <div class="container">
      <h1 class="display-base text-center mb-6">Blog</h1>
      <section>
        <p>No blog posts at the moment</p>
      </section>
    </div>
  </section>
</BaseLayout>
