---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Blog | Haroun Achouche Portfolio";
const metaDescription =
  "Haroun Achouche portfolio, skills, eductaion, experience, certification, Haroun Ach Portfolio";
const metaKeyWords = "Haroun Achouche,Haroun Ach, Haroun Ach Portfolio";
---

<BaseLayout
  pageTitle={pageTitle}
  metaDescription={metaDescription}
  metaKeyWords={metaKeyWords}
>
  <main id="content">
    <section class="px-4 pt-4 pb-24">
      <div class="container">
        <h1
          class="font-title mb-10 text-center text-4xl font-medium sm:text-left"
        >
          Blog
        </h1>
        <section>
          <p class="mb-4 font-sans text-base font-normal">
            No blog posts at the moment
          </p>
        </section>
      </div>
    </section>
  </main>
</BaseLayout>
