---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Blog | Haroun Achouche Portfolio";
const metaDescription =
  "Haroun Achouche portfolio, skills, eductaion, experience, certification, Haroun Ach Portfolio";
const metaKeyWords = "Haroun Achouche,Haroun Ach, Haroun Ach Portfolio";
---

<BaseLayout
  pageTitle={pageTitle}
  metaDescription={metaDescription}
  metaKeyWords={metaKeyWords}
>
  <main id="content" class="blog-page">
    <section class="section blog-page__posts">
      <div class="container">
        <h1 class="display-base blog-page__title">Blog</h1>
        <section>
          <p>No blog posts at the moment</p>
        </section>
      </div>
    </section>
  </main>
</BaseLayout>
