---
import { getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/actionable/Button.astro";
import ProjectCard from "@components/section/projects/ProjectCard.astro";
import Hero from "@components/section/Hero.astro";
import SkillList from "@components/section/skills/SkillList.astro";
import ExperienceCard from "@components/section/experience/ExperienceCard.astro";
import CertList from "@components/section/certifications/CertList.astro";
import FeaturedProjectList from "@components/section/projects/FeaturedProjectList.astro";

// Get certifications, and projects collection entries

const projectCollection = await getEntry("projects", "projects");

const feauturedProjects = projectCollection.data.filter(
  (proj) => proj.featured === true,
);

const pageTitle = "Haroun Achouche Portfolio";
const metaDescription =
  "Haroun Achouche portfolio, skills, eductaion, experience, certification, Haroun Ach Portfolio";
const metaKeyWords = "Haroun Achouche,Haroun Ach, Haroun Ach Portfolio";
---

<BaseLayout
  pageTitle={pageTitle}
  metaDescription={metaDescription}
  metaKeyWords={metaKeyWords}
>
  <main id="content" class="home-page">
    <!-- About section -->
    <section id="about" class="home-page__about">
      <div class="container">
        <Hero />
      </div>
    </section>

    <!-- Skills -->
    <section id="Skills" class="home-page__skills section">
      <div class="container">
        <h2 class="subtitle title-medium">skills</h2>
        <SkillList />
      </div>
    </section>

    <!-- Education -->
    <section id="Education" class="section">
      <div class="container">
        <h2 class="subtitle title-medium">Education</h2>
        <article class="education home-page__education">
          <h4 class="education__title">
            Bachelor Degree of Software Engineering
          </h4>
          <h5 class="education__years">SEPTEMBER 2012 - JUNE 2015</h5>
          <h5 class="education__univ">
            University of Constantine, Constantine, Algeria
          </h5>
        </article>
      </div>
    </section>

    <!-- Experience -->
    <section id="Experience" class="section">
      <div class="container">
        <h2 class="subtitle title-medium">Experience</h2>
        <ExperienceCard customClasses="home-page__experience" />
      </div>
    </section>

    <!-- Certifications -->
    <section id="Certifications" class="home-page__certs section">
      <div class="container">
        <h2 class="subtitle title-medium">Certifications</h2>
        <CertList />
      </div>
    </section>

    <!-- Projects -->
    <section id="Projects" class="home-page__projects section">
      <div class="container">
        <h2 class="subtitle title-medium">Projects</h2>
        <FeaturedProjectList />
        <div class="home-page__project-btn">
          <Button
            label="More Projects"
            url="/projects"
            icon="fas fa-chevron-right"
          />
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
