---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/actionable/Button.astro";
import Hero from "@components/section/Hero.astro";
import FeaturedProjectList from "@components/section/projects/FeaturedProjectList.astro";
import WebDesignList from "@components/section/WebDesignList.astro";
import SocialMediaList from "@components/section/SocialMediaList.astro";

// Get certifications, and projects collection entries

const projectCollection = await getEntry("projects", "projects");

const feauturedProjects = projectCollection?.data.filter(
  (proj) => proj.featured === true,
);

const pageTitle = "Haroun Achouche Portfolio";
const metaDescription =
  "Haroun Achouche portfolio, skills, eductaion, experience, certification, Haroun Ach Portfolio";
const metaKeyWords = "Haroun Achouche,Haroun Ach, Haroun Ach Portfolio";
---

<BaseLayout
  pageTitle={pageTitle}
  metaDescription={metaDescription}
  metaKeyWords={metaKeyWords}
>
  <main id="content">
    <!-- About section -->
    <section class="px-4 pt-4 pb-24">
      <div class="container">
        <Hero />
      </div>
    </section>
    <section class="bg-grapefruit-100 px-4 py-24">
      <div class="container">
        <div class="flex flex-col gap-6 sm:flex-row sm:justify-center">
          <div class="flex justify-center">
            <Image
              src={"/images/Shape-WebDesign.svg"}
              alt=""
              width={240}
              height={360}
            />
          </div>
          <div>
            <h2 class="font-title mb-4 text-2xl font-medium">
              Create your dream website
            </h2>
            <WebDesignList />
            <div class="flex justify-center sm:justify-start">
              <Button url="#contact" theme="grapefruit">Contact Me</Button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-confetti-100 px-4 py-24">
      <div class="container">
        <div class="flex flex-col gap-6 sm:flex-row sm:justify-center">
          <div>
            <h2 class="font-title mb-4 text-2xl font-medium">
              Manage your social media
            </h2>
            <SocialMediaList />
            <div class="flex justify-center sm:justify-start">
              <Button url="#contact" theme="confetti">Contact Me</Button>
            </div>
          </div>
          <div class="flex justify-center">
            <Image
              src={"/images/Shape-SocialMedia.svg"}
              alt=""
              width={241}
              height={360}
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Projects -->
    <section class="bg-tango-50 px-4 py-24">
      <div class="container">
        <h2 class="font-title mb-14 text-center text-2xl font-medium">
          Just a taste of what I have done
        </h2>
        <FeaturedProjectList />
        <div class="flex justify-center sm:justify-end">
          <Button url="/projects">See more</Button>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
