---
import Logo from "@components/section/Logo.astro";
import Navigation from "./Navigation.astro";

const { className } = Astro.props;
---

<header class:list={["flex px-4 py-6 sm:px-14", className]}>
  <a href="#content" class="sr-only">Skip to content</a>
  <div class="container">
    <div class="flex items-center justify-between">
      <Logo />
      <div>
        <Navigation />
      </div>
    </div>
  </div>
</header>
