---
import NavLink from "./NavLink.astro";
---

<nav class="flex items-center justify-center gap-4">
  <NavLink url="/">Home</NavLink>
  <NavLink url="/projects">Projects</NavLink>
  <NavLink url="/blog">Blog</NavLink>
</nav>
