---
const { title, issuer, url } = Astro.props;
---

<a href={url} class="cert-card">
  <span class="cert-card__icon">
    <i class="fas fa-award"></i>
  </span>
  <div class="cert-card__content">
    <span class="cert-card__title title-base">{title}</span>
    <div class="flex justify-content-between">
      <span class="cert-card__issuer">By {issuer}</span>
      <span class="cert-card__date">2020</span>
    </div>
  </div>
</a>
