---
import Button from "@components/actionable/Button.astro";
---

<div class="hero">
  <div class="hero__graphic">
    <img
      src="./images/harounach.jpg"
      alt="Haroun Achouche Photo"
      class="hero__img"
    />
  </div>
  <div class="hero__content">
    <h1 class="hero__title">
      Haroun Achouche <br />
      <span class="hero__title--position">Software Engineer</span>
    </h1>
    <p class="hero__description body-base">
      I am a Software Engineer, I have a degree in software engineering and over
      6 years of web developement experience. I have extensive experience with
      web technology including HTML, CSS , and JavaScript., as well as ReactJS
      and NodeJS Since I have started web development, I have been spending
      every spare minute writing code for the web, and learning everything on
      web application development.
    </p>

    <Button
      label="Download Resume (PDF)"
      url="./assets/Haroun-Achouche-Resume.pdf"
      icon="fas fa-chevron-right"
      customClasses="hero__btn"
    />
  </div>
</div>
