---
import Heading from "@components/section/Heading.astro";
import Social from "@components/actionable/Social.astro";
---

<footer id="contact" class="footer">
  <div class="container py-12">
    <Heading
      title="Let's Chat"
      description="Find me online on"
      center
      centerDescription
      dark
    />
    <div class="flex justify-content-center align-items-center">
      <Social />
    </div>
  </div>
  <p class="footer__notice">© Copyright Haroun Achouche 2022</p>
</footer>
