---
import Social from "@components/actionable/Social.astro";
---

<footer id="contact" class="footer">
  <div class="container section">
    <h2 class="footer__title subtitle title-medium">Let's Chat</h2>
    <p class="footer__desc body-base">Find me online on</p>
    <div class="footer__social">
      <Social />
    </div>
  </div>
  <p class="footer__notice body-base">© Copyright Haroun Achouche 2024</p>
</footer>
