---
interface Props {
  pageTitle: string;
  metaDescription: string;
  metaKeyWords: string;
  className?: string;
}

import "@fontsource/poppins";
// Supports weights 300-900
import "@fontsource-variable/rubik";
import "../styles/global.css";
import Header from "@components/header/Header.astro";
import Footer from "@components/footer/Footer.astro";
import BackButton from "@components/actionable/BackButton.astro";
const { pageTitle, metaDescription, metaKeyWords, className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="description" content={metaDescription} />
    <meta name="keywords" content={metaKeyWords} />
    <meta property="og:url" content="https://harounach.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Haroun Achouche Portfolio" />
    <meta
      property="og:description"
      content="Haroun Achouche portfolio, skills, eductaion, experience, certification, and projects"
    />
    <meta
      property="og:image"
      content="https://harounach.github.io/images/harounach.jpg"
    />
    <meta property="og:image:alt" content="Haroun Achouche Photo" />
    <!-- Google Search Verification -->
    <meta
      name="google-site-verification"
      content="Amwbrym6ZnvrBN13LXGtYnvYW4JsJmJS0Tgnd0av2g8"
    />
    <!-- Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4H0Y22DZQ1"
    ></script>
    <script>
      //@ts-ignore
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        //@ts-ignore
        dataLayer.push(arguments);
      }
      //@ts-ignore
      gtag("js", new Date());
      //@ts-ignore
      gtag("config", "G-4H0Y22DZQ1");
    </script>
    <!-- Site name -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Haroun Achouche",
        "url": "https://harounach.github.io/"
      }
    </script>
    <!-- Pinterest Verification -->
    <meta name="p:domain_verify" content="ab57ae76b4053f945710fea74a3337ca" />
  </head>
  <body class:list={["bg-[url(/images/Pattern.svg)] font-sans", className]}>
    <Header />
    <slot />
    <Footer />
    <BackButton />

    <!-- App.js -->
    <script src="../scripts/app.js"></script>
  </body>
</html>
