*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #16e2bd;
  --on-primary-color: #000000;

  --high-text-color: rgba(0, 0, 0, 0.87);
  --medium-text-color: rgba(0, 0, 0, 0.75);
  --low-text-color: rgba(0, 0, 0, 0.5);

  --html-fg-color: #ffffff;
  --html-bg-color: #f16529;

  --css-fg-color: #ffffff;
  --css-bg-color: #2965f1;

  --js-fg-color: #323330;
  --js-bg-color: #f0db4f;

  --react-fg-color: #61dafb;
  --react-bg-color: #282c34;

  --node-fg-color: #ffffff;
  --node-bg-color: #3c873a;

  --python-fg-color: #306998;
  --python-bg-color: #ffd43b;

  --git-fg-color: #ffffff;
  --git-bg-color: #f34f29;

  --github-fg-color: #ffffff;
  --github-bg-color: #211f1f;

  --mongodb-fg-color: #ffffff;
  --mongodb-bg-color: #4db33d;

  --figma-fg-color: #ffffff;
  --figma-bg-color: #ff2020;
}

/* MOBILE */

html {
  width: 100%;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  position: relative;
}

.header {
  width: 100%;
}

.nav {
  width: 100%;
  height: 3.5rem;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--primary-color);
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  border-radius: 50%;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-btn:focus {
  outline: none;
}

.appbar__menu__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.appbar__menu__icon__top-line,
.appbar__menu__icon__middle-line,
.appbar__menu__icon__bottom-line {
  width: 100%;
  height: 0.25rem;
  background-color: var(--on-primary-color);
  -webkit-transition: -webkit-transform 0.3s
    cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.appbar__menu__icon__top-line {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.appbar__menu__icon__middle-line {
  -webkit-transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  opacity: 1;
}

.appbar__menu__icon__bottom-line {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Animations */
.appbar__menu--open .appbar__menu__icon__top-line {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

.appbar__menu--open .appbar__menu__icon__middle-line {
  opacity: 0;
}

.appbar__menu--open .appbar__menu__icon__bottom-line {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
  transform: rotate(-45deg) translate(5px, -5px);
}

.appbar {
  width: calc(100% - 56px);
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 3.5rem;
  z-index: 16;
  background-color: var(--primary-color);
  box-shadow: -1px 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s
    cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.appbar--open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.appbar__item {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.25rem solid #ffffff;
}

.appbar__item--active {
  border-left: 0.25rem solid var(--primary-color);
}

.appbar__link {
  width: calc(100% - 1rem);
  height: calc(100% - 0.5rem);
  padding-left: 0.25rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.66);
}

.appbar__link--active {
  font-weight: 700;
}

.appbar-scrim {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 3.5rem;
  pointer-events: none;
  z-index: 14;
  will-change: opacity;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s
    cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  background-color: rgba(0, 0, 0, 0.32);
}

.appbar-scrim--active {
  opacity: 1;
}

.main {
  margin-top: 4.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0;
  color: var(--high-text-color);
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
  color: var(--high-text-color);
}

.section {
  margin: 1rem;
}

.section-title {
  font-size: 1.125rem;
  color: var(--low-text-color);
  text-transform: uppercase;
  font-weight: 500;
}

.divider {
  width: 80%;
  height: 0.125rem;
  margin: 1.5rem auto;
  padding: 0;
  border: 0;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.1);
}

/* About section */

.about-section {
}

.profile {
}

.profile__figure {
  max-width: 300px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  padding: 0;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 0.25rem solid var(--primary-color);
}

.profile__img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.description {
}

.description__text {
  font-size: 1rem;
  color: var(--medium-text-color);
}

.profile-links {
}

.download-resume-btn {
  height: 2.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.1);
}

.profile-social {
  display: flex;
  margin-top: 1rem;
}

.profile-social__link {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
}

.profile-social__icon {
  font-size: 1.5rem;
}

.overline {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  margin: 0.5rem 0;
}

.profile__text {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
}

/* Skills section */
.skills {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.skills__card {
  min-height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.skills__card__graphic {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  background-color: #ffffff;
}

.skills__card__icon {
  font-size: 1.5rem;
}

.skills__card__text {
  display: flex;
  flex-direction: column;
}

.skills__card__text__title {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  color: var(--high-text-color);
}

.skills__card__text__desc {
  font-size: 0.75rem;
  margin: 0;
  color: var(--low-text-color);
}

/* Education section */
.edu-section {
  /* box-shadow: -1px 0 1px 1px rgba(0, 0, 0, 0.1); */
}

.edu-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--high-text-color);
}

.edu-univ {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--high-text-color);
}

.edu-years {
  font-size: 1rem;
  font-weight: 600;
  color: var(--high-text-color);
}

/* Certifications section */

.cert-section {
  display: grid;
  gap: 1rem;
}

.cert-card {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
}

.cert-card__graphic {
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-color);
  margin-right: 1rem;
}

.cert-card__icon {
  font-size: 1.5rem;
}

.cert-card__content {
}

.cert-card__text {
  color: var(--high-text-color);
  margin: 0 0 1rem 0;
}

.cert-card__info {
  color: var(--low-text-color);
  margin: 0;
}

.profile .footer {
}
