@use "sass:map";
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

// display-large
.display-large {
  @include mixins.displayLargeText();
  color: vars.$neutral-900;
}

// display-base
.display-base {
  @include mixins.displayBaseText();
  color: vars.$neutral-900;
}

// title-large
.title-large {
  @include mixins.titleLargeText();
  color: vars.$neutral-900;
}

// title-medium
.title-medium {
  @include mixins.titleMediumText();
  color: vars.$black;
}

// title-base
.title-base {
  @include mixins.titleBaseText();
  color: vars.$black;
}

// button
.button {
  @include mixins.buttonText();
  color: vars.$black;
}

// body-large
.body-large {
  @include mixins.bodyLargeText();
  color: vars.$black;
}

// body-base
.body-base {
  @include mixins.bodyBaseText();
  color: vars.$black;
}

.title {
  color: vars.$neutral-900;
  margin-bottom: vars.$space-3;
}

.subtitle {
  color: vars.$neutral-900;
  margin-bottom: vars.$space-3;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    left: -1.25rem;
    top: -2px;
    position: absolute;
    background-image: url("/images/Decor-Subtitle.svg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-confined {
  max-width: 768px;
}

.text-lg {
  max-width: 768px;
}

.text-md {
  max-width: 576px;
}

.text-sm {
  max-width: 448px;
}
